    /* Bibliotecas Importadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

    /* Seletor Universal - Reset Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Navbar que abrange Nome, Logo e Menu Dropdown */
.header-menu{
    height: 8vh;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 0 0 10px 10px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7a6ba;
    
    
}
    /* Elemento na Navbar que abrange o Icone e o Nome */
.first-element{
    color: white;
}
    /* Menu de Cores em formato Lista Não Ordenada*/
.menu{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
     /* Cores do Menu em formato Item de Lista Não Ordenada */

li{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    position: relative;
}
.menu li{
    text-decoration: none;
    color: #ffffff;
    
}
.menu li:hover{
    text-decoration: none;
    color: #1a1a1a;
}
.header-menu h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    color: #ffffff;
}
    /* Texto "Pick a Color" no Menu de Cores */
.menu h2{
    color: #363636;
    
}
    /* Icones de cada cor no Menu de Cores */
.menu i{
    color: #fafafa;
    font-size: 3.5vh;
    cursor: pointer;
    
}
.menu i:hover{
    color: #f0467088;
}

    /* Dropdown do Menu de Cores */
.dropdown{
    min-width: 120px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    gap: 10px;
    position: absolute;
    right: 2vh;
    /* antes de passar o mouse por cima do icone o menu de cores se encontra em um estado inicial 2vh */
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    height: 100vh;
}

li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    right: 8vh;
    /* apos passar mouse por cima do icone o menu de cores ira se movimentar a 8vh a direita */
    top: 40px;
}
    /* Icones no Dropdown */
.dropdown i{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: co;
    font-size: 25px;
    border-bottom: 1px solid #00000081;
    padding-top: 5px;
    text-decoration: none;
    cursor: pointer;
    

}
.dropdown i:hover{
    filter: brightness(80%);
}
    /* Botão dentro do Item de Lista do Menu */
.colorMenuButton{
    border-radius: 11px;
    background-color: transparent;
    /* color: #FB6F92; */
    color: #fafafa;
    border: none;
}


.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
    gap:1.5px;
}

/* COLUNAS */

    /*Estilos para a classe Container que abrange as colunas  */
.container {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    height: 60vh;
}
    /* Estilos para Colunas */
.column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: solid 1px #636363;
    gap: 10px;
    background-color: #f3f0f0;
    border-radius: 2vh;
    /* alinhando os titulos todo doing done no centro */
    text-align: center;
    max-width: 200px; 
    /* impedindo que a coluna se expanda no input */

}
    /* Estilos para o formularios dentro de Colunas */
.column-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: solid 1px #636363;
    gap: 10px;
    background-color: #fcfcfc;
    border-radius: 1vh;
    max-width: 300px; 
}
     /* Estilos para o inputs de Colunas */
input, textarea{
    border-radius: 0.5vh;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 1vh;
    padding: 0.5vh;
    border: 0.5px solid #636363;
}

     /* Estilos para o contéudo de Colunas */
.column-content {
    display: flex;
    flex-direction: column;
}
     /* Estilos para o Botão Add Task */
.button-add {
    border-radius: 8px;
    cursor: pointer; 
    padding: 3px;
    border: 0.5px solid #636363;

}

.button-add:hover {
    background-color: #ffaaaa;
    color: #fff;
    
}
    /* Estilos para o HTML para Tarefas gerado no JavaScript */
.taskItem {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    margin-bottom: 8px;
    padding: 8px;
    max-height: 50px;
    min-width: 80px;
    overflow-y: auto;
    position: relative;
  }
  .task{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    margin-bottom: 8px;
    padding: 8px;
    max-height: 50px;
    min-width: 80px;
    overflow-y: auto;
    position: relative;
    cursor: grabbing;
  }
  
  .taskContent {
    font-size: 16px;
  }
  
  .taskContent hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;
  }
  
  /* Botao deletar tarefa */
  .deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10vh;
    border: none;
    background-color: transparent;
  }
  .deleteButton:hover{
    cursor: pointer;
    color: #FB6F92;
  }

  /* Estilos para o fundo do Pop-up de exclusão */
  .box-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
     /* Estilos para o conteúdo do Pop-up de exclusão */
.box {
    width: 300px;
    height: 100px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
    /* Delimitando o Espaçamento entre os Botões */
.box div {
    margin-top: 10px;
}
    /* Estilos para Botões Yes e No */
.btn {
    font-family: 'Josefin Sans', sans-serif;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #020202;
    padding: 5px;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(110%);
}
    /* Estilos personalizados para as opções */
.no {
    background: #fcdede;
}
.yes {
    background: rgb(241, 91, 129);
}
#trueButton{
    color: #f3f0f0;
}

#falseButton{
    color: #636363;
}
