/* fonts later */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');
header{
    width: 100%;
    height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7a6ba;
    
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1100px;
 
}

li{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    position: relative;
}
.menu li{
    text-decoration: none;
    color: #ffffff;
}
.menu li:hover{
    text-decoration: none;
    color: #1a1a1a;
}
.menu h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    color: #ffffff;
}
.menu h2{
    color: #363636;
    
}
.menu i{
    color: #fafafa;
    font-size: 3.5vh;
}

.dropdown{
    min-width: 130px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;

    height: 70vh;
}

li:hover .dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.dropdown i{
    font-size: 30px;
    border-bottom: 1px solid #00000081;
    padding-top: 5px;
    text-decoration: none;
    cursor: pointer;

}
.dropdown i:hover{
    filter: brightness(80%);
}
.colorMenuButton{
    border-radius: 11px;
    background-color: #fd90ad;
    color: #FB6F92;
    color: #fafafa;
    border: none;
}
.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
    gap:1.5px;
}

/* COLUNAS */
.container {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    margin: 10px;
    border: solid 1px #636363;
    gap: 10px;
    background-color: #f3f0f0;
    border-radius: 2vh;
    /* alinhando os titulos todo doing done no centro */
    text-align: center;
    /* height: 300px;
    overflow-y: auto; */

}
.column-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: solid 1px #636363;
    gap: 10px;
    background-color: #fcfcfc;
    border-radius: 1vh;
}
input, textarea{
    border-radius: 0.5vh;
}

.column-content {
    display: flex;
    flex-direction: column;
}

.button-add {
    border-radius: 16px;
    cursor: pointer;

}

.button-add:hover {
    background-color: #ffaaaa;
    color: #fff;
    
}

/* .taskContent{
    font-weight: 200;
    
}

.taskItem{
    display: flex;
    border: solid 0.5px #5f5f5f;
    border-radius: 5px;
    padding: 2vh;
    margin: 1%;
    background-color: #ffffff;
    font-weight: 600; */

    /* definindo o tamanho maximo q uma tarefa poderá ter */
    /* max-height: 50px;
    min-width: 80px;
    overflow-y: auto;
}
.taskItem:hover{
    background-color: #ebd0d7b0;
    cursor: pointer;
} */
.taskItem {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    margin-bottom: 8px;
    padding: 8px;
    max-height: 50px;
    min-width: 80px;
    overflow-y: auto;
    position: relative;
  }
  
  .taskContent {
    font-size: 16px;
  }
  
  .taskContent hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;
  }
  
  /* Botao deletar tarefa */
  .deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10vh;
    border: none;
    background-color: transparent;
  }
  .deleteButton:hover{
    cursor: pointer;
    color: #FB6F92;
  }

  
