/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'DM Sans', sans-serif;*/

*{
    font-family: 'DM Sans', sans-serif;
    padding: 0px;
}

.baseBody{
    background-color: #FFE5EC;
    margin: 0px; /*esse é o trecho que se livra da brecha que tinha entre a navbar e o topo da página*/
}

.logo{
    font-family: 'Josefin Sans', sans-serif;
    
}

.colorMenuButton{
    border-radius: 11px;
    padding: 8px;
    background-color: #FFE5EC;
    color: #FB6F92;
    color: color: #fafafa;
    margin: 0 660px; empurra o logo e o ícone
    border: none;
}

/*Barra de navegação que contém o logo, o ícone e o botão de menu de mudança de cor*/
.navbar{
    background-color: #FFB3C6;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


/*Grupo do logo e icon*/
.logoIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 660px;/*empurra o botão de cor*/
    color: #fafafa;
}

.toDoColumn, .doingColumn, .doneColumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 253, 246);
    padding: 9px;
    height: 500px;
    border-radius: 8px;
}

.columns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.colorMenu{
    background-color: #fff;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 150px;
    text-align: center;
    padding: 20px;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
    gap:1.5px;
}

.colorBox i:hover{
    filter: brightness(70%);
}

.closeSymbol{
    color: #FB6F92;
    position: relative;
    left: 140px;
    bottom: 270px;
    display: flex;
    margin: 0;
}

