/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Yeseva One', cursive;
font-family: 'DM Sans', sans-serif;*/

*{
    font-family: 'DM Sans', sans-serif;
    padding: 0px;
    margin: 0;
    /* box-sizing: border-box; */

}


.baseBody{
    background-color: #FFE5EC;
    /* margin: 0px;  */
    /*esse é o trecho que se livra da brecha que tinha entre a navbar e o topo da página*/
}


.logo{
    font-family: 'Josefin Sans', sans-serif;
}

.colorMenuButton{
    border-radius: 11px;
    padding: 8px;
    background-color: #FFE5EC;
    color: #FB6F92;
    /* margin: 0 660px; */
    /*empurra o logo e o ícone */
    border: none;
}

.navbar{

    height: 8vh;
    padding: 0 40px;
    /* box-sizing: border-box; */
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB3C6;
    /* background-color: #FFB3C6;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 8vh;
    padding: 0 40px;
    box-sizing: border-box; */

}

/*Grupo do logo e icon*/
.logoIcon{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* margin: 0 660px; */
    /*empurra o botão de cor*/
    color: #fafafa;
    position: relative;
}

#toDoColumn, #doingColumn, #doneColumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 253, 246);
    padding: 9px;
    height: 500px;
    border-radius: 8px;
}

.column-group{
    display: flex;
    flex-direction: row; /*As colunas ficam dispostas em row*/
    justify-content: space-evenly; 
    /*Possivelmente ser mudado futuramente, por ora as colunas ficam separadas igualmente mas não
    corresponde com o protótipo ou o Trello real*/
}

.taskTitle, .taskDescription{
    margin-bottom: 10px;
}

.colorMenu{
    background-color: #fff;
    position: fixed;
    top:0;
    right: 0;
    height: 100vh;
    width: 150px;
    text-align: center;
    padding: 20px;
}

.colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    flex-direction: column;
    gap:1.5px;
}

.colorBox i:hover{
    filter: brightness(70%);
}

.closeSymbol{
    color: #FB6F92;
    position: fixed;
    right: 15px;
    top: 10px;
    display: flex;
    margin: 0;
}

.colorMenuButton:hover{
    filter: brightness(95%);
}

.task{
    border-radius: 8px;
    background-color: #e6bec8;
    margin-bottom: 8px;
}

.add-task-button{
    margin-top: 8px;
    padding: 3px;
}
.task-title{
    /*Arredonda apenas a parte de cima do título da tarefa*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f79cb1;
    color: #fafafa;
    padding: 3px;
}
